{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LaBet</title>

    <script src={% static 'js/tailwindcss.min.js' %}></script>
    <link href="{% static 'css/flowbite.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/material-symbols.css' %}" rel="stylesheet"/>

    <style type="text/tailwindcss">
        @layer components {
            a, button, input, select, textarea {
                @apply transition-colors;
            }

            .apexcharts-datalabels-group .apexcharts-text.apexcharts-datalabel-value {
                @apply dark:!fill-white;
            }
        }
    </style>
</head>

<body class="dark:bg-gray-900">


<nav class="bg-white border-gray-200 dark:bg-gray-900 container mx-auto px-4 lg:px-0">
    <div class="flex flex-wrap items-center justify-between py-4">
        <a href="{% url 'index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="LaBet Logo"/>
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">LaBet</span>
        </a>

        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button"
                    class="w-10 h-10 border items-center justify-center text-gray-700 dark:text-gray-200 flex text-sm bg-gray-200 dark:bg-gray-800 dark:border-gray-700 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                {% if user.is_authenticated %}
                    <span class="text-xl font-semibold">{{ user.get_full_name | first }}</span>
                {% else %}
                    <span class="material-symbols-rounded">person</span>
                {% endif %}
            </button>
            <!-- Dropdown menu -->
            <div class="p-2 z-50 hidden my-4 text-base border list-none bg-white divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600"
                 id="user-dropdown">
                <div class="px-4 py-3">
                    {% if user.is_authenticated %}
                        <p>
                            <span class="block text-sm text-gray-900 dark:text-white">{{ user.get_full_name }}</span>
                            <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ user.get_username }}</span>
                        </p>
                    {% else %}
                        <span class="font-semibold block text-sm text-gray-900 dark:text-white">Hello!</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400">You're not signed in.</span>
                    {% endif %}
                </div>
                <ul class="py-2">
                    <li>
                        <a href="{% url 'tier' %}"
                           class="rounded-md block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Plans</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'wallet' %}"
                               class="rounded-md block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Wallet</a>
                        </li>
                        <li>
                            <a href="{% url 'profile' %}"
                               class="rounded-md block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <li>
                                <button type="submit"
                                        class="rounded-md block px-4 py-2 text-sm text-left w-full text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                    Sign out
                                </button>
                            </li>
                        </form>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}"
                               class="rounded-md block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                                in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="container mx-auto mt-8">
    {% block content %}
    {% endblock content %}
</div>

<script src={% static 'js/flowbite.min.js' %}></script>


</body>
</html>
