{% extends "_base.html" %}

{% block content %}
    <div class="container mx-auto mt-8 bg-white border-gray-200 dark:bg-gray-900 container mx-auto block text-gray-900 dark:text-white text-lg">
   <section class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-lg mb-5">
      <h2 class="text-2xl font-semibold mb-4">Introduction to Betting</h2>
      <p class="leading-relaxed">
        Bets in games are a popular way to combine entertainment with the chance to make profits. Whether in sports, eSports, or casino games, betting involves predicting outcomes and staking money. Success relies on understanding the game, analyzing odds, and applying strategies.
      </p>
      <p class="leading-relaxed mt-4">
        While skilled bettors can earn profits, it’s essential to recognize the risks involved, as outcomes are often unpredictable. Responsible betting is key—setting limits and knowing when to stop are critical. Many enjoy betting for the thrill, but balancing fun with financial caution ensures a positive experience.
      </p>
    </section>

    <section class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-lg text-lg">
      <h2 class="text-2xl font-semibold mb-4">Sport Arbitrage</h2>
      <p class="leading-relaxed">
        Sport arbitrage, often called <strong>"sure betting,"</strong> is a strategy where a bettor takes advantage of differences in odds offered by different bookmakers to guarantee a profit regardless of the game's outcome.
      </p>

      <h3 class="text-2xl font-semibold mb-4">How it Works</h3>
      <ol class="list-decimal ml-6 mt-4 space-y-2">
        <li><strong>Understand Odds Differences:</strong> Bookmakers sometimes disagree on the likelihood of an event.</li>
        <li><strong>Find Arbitrage Opportunities:</strong> Calculate if the combined bets on all possible outcomes result in a guaranteed win.</li>
        <li><strong>Bet on All Outcomes:</strong> By placing specific amounts on each outcome, a profit is ensured.</li>
      </ol>

      <h3 class="text-2xl font-semibold mt-6">Example</h3>
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg mt-4">
        <p>- Bookmaker 1: Team A wins at odds of 2.10.</p>
        <p>- Bookmaker 2: Team B wins at odds of 2.10.</p>
        <p class="mt-2">
          You bet $100 on Team A with Bookmaker 1 and $100 on Team B with Bookmaker 2. No matter the result, you'll receive $210, securing a $10 profit.
        </p>
      </div>

      <h3 class="text-2xl font-semibold mt-6">Key Points</h3>
      <ul class="list-disc ml-6 mt-4 space-y-2">
        <li><strong>Advantages:</strong> Guaranteed profit if calculated correctly.</li>
        <li><strong>Challenges:</strong> Requires time, multiple accounts, and precision.</li>
        <li><strong>Risks:</strong> Odds can change quickly, or errors might occur.</li>
      </ul>
    </section>
    </div>
{% endblock content %}
