{% extends "_base.html" %}

{% block content %}
    <div class="px-4 mx-auto max-w-screen-xl text-center lg:mb-8 text-gray-700 dark:text-white">
        <aside class="mb-5">
            <div class="inline-flex items-center justify-between px-1 py-1 pr-4 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700">
                <span class="rounded-full text-white px-3 py-1.5 mr-3 material-symbols-rounded text-base {% if combination.odd > 1 %}bg-red-600{% elif combination.odd < 0.95 %}bg-green-600{% else %}bg-blue-600{% endif %}">
                    {% if combination.odd > 1 %}
                        warning
                    {% elif combination.odd < 0.95 %}
                        check
                    {% else %}
                        info
                    {% endif %}
                </span>
                <span class="text-sm font-medium">
                    {% if combination.odd > 1 %}
                        Stop! You will lose money.
                    {% elif combination.odd < 0.95 %}
                        Good choice!
                    {% else %}
                        Make it count!
                    {% endif %}
                </span>
            </div>
        </aside>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            {{ game.home_team }} × {{ game.away_team }}
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 text-balance lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
            {% if submitted %}
                <span class="font-semibold text-green-600 dark:text-green-500">
                    <span class="material-symbols-rounded text-base">check</span>
                    Done!
                </span>
            {% endif %}
            {% if combination.odd > 1 %}
                You {% if session %}will{% else %}can{% endif %} lose up to {{ profit | floatformat }}% by betting on
                this game.
            {% else %}
                You {% if session %}will{% else %}can{% endif %} get up to {{ profit | floatformat }}% profit
                (<span id="profit_euros"></span>€)
                by betting on this game.
            {% endif %}
        </p>
        <div class="flex flex-col items-center mb-8">
            <label for="bet" class="block mb-2 text-sm font-medium">
                Bet calculator (€)
            </label>
            <input type="number" id="bet" max="{{ max_bet }}" required
                    {% if session %}
                   value="{{ session.total }}"
                   disabled
                   class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    {% else %}
                   value="{{ max_bet }}"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    {% endif %}
            />
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            {% with combination.home as house %}
                {% house_card %}
                    {% slot type %}home{% endslot %}
                    {% slot team_name %}{{ game.home_team.name }}{% endslot %}
                    {% slot submitted type='home' %}{% endslot %}
                {% endhouse_card %}
            {% endwith %}
            {% with combination.draw as house %}
                {% house_card %}
                    {% slot type %}draw{% endslot %}
                    {% slot team_name %}Draw{% endslot %}
                    {% slot submitted type='draw' %}{% endslot %}
                {% endhouse_card %}
            {% endwith %}
            {% with combination.away as house %}
                {% house_card %}
                    {% slot type %}away{% endslot %}
                    {% slot team_name %}{{ game.away_team.name }}{% endslot %}
                    {% slot submitted type='away' %}{% endslot %}
                {% endhouse_card %}
            {% endwith %}
        </div>
    </div>

    <script>
        const betInput = document.getElementById('bet');
        const totalInputs = document.querySelectorAll('input[name="total"]');
        const profitEuros = document.getElementById('profit_euros');
        const homeEuros = document.getElementById('home_euros');
        const drawEuros = document.getElementById('draw_euros');
        const awayEuros = document.getElementById('away_euros');

        const calculateEuros = () => {
            const betValue = parseFloat(betInput.value);
            const h = betValue / {{ combination.home.odd }};
            const d = betValue / {{ combination.draw.odd }};
            const a = betValue / {{ combination.away.odd }};
            const total = h + d + a;
            const rate = betValue / total;
            const profit = (betValue - total) * rate;
            totalInputs.forEach(input => input.value = total * rate);
            profitEuros.textContent = (profit * rate).toFixed(2);
            homeEuros.textContent = (h * rate).toFixed(2);
            drawEuros.textContent = (d * rate).toFixed(2);
            awayEuros.textContent = (a * rate).toFixed(2);
        };

        calculateEuros();
        betInput.addEventListener('input', () => {
            if (betInput.value > {{ max_bet }}) {
                betInput.value = {{ max_bet }};
            }
            calculateEuros();
        });
    </script>
{% endblock content %}
