{% extends "_base.html" %}

{% block content %}
    <div class="px-4 w-full lg:text-center lg:mb-8">
        <h1 class="mb-4 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Welcome back, {{ user.first_name }}!
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl text-balance sm:px-16 lg:px-48 dark:text-gray-400">
            Check the latest reports on how you're earning, plus new games to bet on.
        </p>
    </div>

    <div class="flex gap-8 xl:gap-16 flex-col-reverse lg:flex-row px-4 lg:px-0">
        <div class="flex-1 flex flex-col gap-2">
            <h1 class="text-gray-900 dark:text-white text-2xl font-bold mb-2">
                Reports
            </h1>
            <div class="relative border border-gray-200 dark:border-gray-700 w-full bg-gray-100 rounded-xl dark:bg-gray-800 pt-4 pl-4 md:p-6">
                {% if request.user.tier.charts_included and chart %}
                    <div id="column-chart"></div>
                {% else %}
                    <div class="mx-auto w-fit blur-lg opacity-50">
                        {% include 'placeholders/bar-chart.html' %}
                    </div>
                    <div class="w-full h-full absolute top-0 left-0 flex flex-col gap-4 items-center justify-center">
                        <p class="text-gray-700 text-lg dark:text-white">
                            {% if not request.user.tier.charts_included %}
                                Your current plan doesn't include reports.
                            {% else %}
                                No data available yet.
                            {% endif %}
                        </p>
                        {% if not request.user.tier.charts_included %}
                            <a href="{% url 'tier' %}"
                               class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Upgrade
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="flex-1 flex flex-col gap-2">
            <h1 class="text-gray-900 dark:text-white text-2xl font-bold mb-2">
                Available games
            </h1>

            <div class="flex items-center gap-2 mb-2 p-2 border border-gray-200 rounded-full transition-colors bg-gray-100 dark:bg-gray-800 dark:border-gray-700 ">
                <button id="sortDropdown" data-dropdown-toggle="sortMenu"
                        class="text-gray-700 dark:text-white bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-600 rounded-full p-2 w-1/4 hover:bg-gray-50 dark:hover:bg-gray-700">
                    Sort by
                </button>
                <div id="sortMenu" class="hidden z-10 bg-white dark:bg-gray-800 rounded-xl shadow-lg border dark:border-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="sortDropdown">
                        <li>
                            <button class=" text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
                                    onclick="sortCards('asc')">Lowest to Highest
                            </button>
                        </li>
                        <li>
                            <button class=" text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
                                    onclick="sortCards('desc')">Highest to Lowest
                            </button>
                        </li>
                    </ul>
                </div>
                <button id="sortDropdown" data-dropdown-toggle="filterMenu"
                        class="text-gray-700 dark:text-white rounded-full bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-600 p-2 w-1/2 hover:bg-gray-50 dark:hover:bg-gray-700">
                    Filter by
                </button>
                <div id="filterMenu"
                     class="hidden z-10 bg-white border dark:border-gray-700 dark:bg-gray-800 rounded-xl shadow-lg flex flex-col gap-2 p-2">
                    <input type="text" id="filterTeam" placeholder="Team name"
                           class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <div class="flex gap-2">
                        <select id="filterType"
                                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-1/2">
                            <option value="superior">Odd > Value</option>
                            <option value="inferior">Odd < Value</option>
                        </select>
                        <input type="number" id="filterOdd" placeholder="Odd value"
                               class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-1/2 ">
                    </div>
                </div>
                <button onclick="filterCards()"
                        class="text-white bg-blue-700 font-semibold hover:bg-blue-800 rounded-full p-2 dark:bg-blue-600 dark:hover:bg-blue-700 w-1/4">
                    Filter
                </button>
            </div>

            <div id="cardsContainer" class="flex flex-col gap-2 overflow-y-scroll h-[45lvh]">
                {% if games %}
                    {% for gameodd in games %}
                        <div class="game-card" data-value="{{ gameodd.detail.odd }}">
                            {% game_card %}{% endgame_card %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-gray-700 dark:text-gray-400">
                        No games found!
                    </p>
                {% endif %}
            </div>
        </div>
    </div>


    <script>
        function sortCards(order) {
            const cardsContainer = document.getElementById('cardsContainer');
            const cards = Array.from(cardsContainer.getElementsByClassName('game-card'));

            cards.sort((a, b) => {
                const valueA = parseFloat(a.getAttribute('data-value'));
                const valueB = parseFloat(b.getAttribute('data-value'));

                if (order === 'asc') {
                    return valueA - valueB;
                } else {
                    return valueB - valueA;
                }
            });

            cards.forEach(card => cardsContainer.appendChild(card));
        }

        function filterCards() {
            const filterTeam = document.getElementById('filterTeam').value.toLowerCase();
            const filterOdd = parseFloat(document.getElementById('filterOdd').value);
            const filterType = document.getElementById('filterType').value;
            const cards = document.getElementsByClassName('game-card');

            Array.from(cards).forEach(card => {
                const teamName = card.textContent.toLowerCase(); // Supõe-se que o nome da equipa esteja visível no texto da carta
                const oddValue = parseFloat(card.getAttribute('data-value'));

                // Condições de filtro
                const matchesTeam = !filterTeam || teamName.includes(filterTeam);
                const matchesOdd = isNaN(filterOdd) ||
                    (filterType === 'superior' && oddValue > filterOdd) ||
                    (filterType === 'inferior' && oddValue < filterOdd);

                // Mostrar ou ocultar carta
                if (matchesTeam && matchesOdd) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }

        {% if request.user.tier.charts_included and chart %}
            const options = {
                colors: ["#1A56DB", "#FDBA8C"],
                series: [
                    {
                        name: "Spent",
                        color: "#1A56DB",
                        data: {{ chart.spent | safe }},
                    },
                    {
                        name: "Profit",
                        color: "#FDBA8C",
                        data: {{ chart.profit | safe }},
                    },
                ],
                chart: {
                    type: "bar",
                    height: "320px",
                    fontFamily: "Inter, sans-serif",
                    toolbar: {
                        show: false,
                    },
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: "70%",
                        borderRadiusApplication: "end",
                        borderRadius: 8,
                    },
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    style: {
                        fontFamily: "Inter, sans-serif",
                    },
                    y: {
                        formatter: (_, {seriesIndex, dataPointIndex, w}) =>
                            Number(
                                w.config.series[seriesIndex].data[dataPointIndex].meta.value,
                            ),
                    }
                },
                states: {
                    hover: {
                        filter: {
                            type: "darken",
                            value: 1,
                        },
                    },
                },
                stroke: {
                    show: true,
                    width: 0,
                    colors: ["transparent"],
                },
                grid: {
                    show: false,
                    strokeDashArray: 4,
                    padding: {
                        left: 2,
                        right: 2,
                        top: -14
                    },
                },
                dataLabels: {
                    enabled: false,
                },
                legend: {
                    show: false,
                },
                xaxis: {
                    floating: false,
                    labels: {
                        show: true,
                        style: {
                            cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                        }
                    },
                    axisBorder: {
                        show: false,
                    },
                    axisTicks: {
                        show: false,
                    },
                },
                yaxis: {
                    show: false,
                },
                fill: {
                    opacity: 1,
                },
            }

            if (document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
                const chart = new ApexCharts(document.getElementById("column-chart"), options);
                chart.render();
            }
        {% endif %}
    </script>

{% endblock content %}
