{% extends "_base.html" %}

{% block content %}
    <div class="px-4 w-full lg:text-center lg:mb-8">
        <h1 class="mb-4 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Welcome back, {{ user.first_name }}!
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl text-balance sm:px-16 lg:px-48 dark:text-gray-400">
            Check the latest reports on how you're earning, plus new games to bet on.
        </p>
    </div>

    <div class="flex gap-8 xl:gap-16 flex-col-reverse lg:flex-row px-4 lg:px-0">
        <div class="flex-1 flex flex-col gap-2">
            <h1 class="text-gray-900 dark:text-white text-2xl font-bold mb-2">
                Reports
            </h1>
            <div class="block p-6 border border-gray-200 rounded-xl transition-colors bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <canvas id="myChart" class="w-full"></canvas>
            </div>
        </div>
        <div class="flex-1 flex flex-col gap-2">

            <h1 class="text-gray-900 dark:text-white text-2xl font-bold mb-2">
                Available games
            </h1>

            <div class="flex items-center gap-2 mb-4 p-2 border border-gray-200 rounded-xl transition-colors bg-gray-100 dark:bg-gray-800 dark:border-gray-700 ">
                <button id="sortDropdown" data-dropdown-toggle="sortMenu"
                        class="text-gray-700 dark:text-white bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-lg p-2 w-1/4 hover:bg-gray-50 dark:hover:bg-gray-700">
                    Sort by
                </button>
                <div id="sortMenu" class="hidden z-10 bg-white dark:bg-gray-700 rounded-lg shadow-lg">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="sortDropdown">
                        <li>
                            <button class=" text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
                                    onclick="sortCards('asc')">Lowest to Highest
                            </button>
                        </li>
                        <li>
                            <button class=" text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
                                    onclick="sortCards('desc')">Highest to Lowest
                            </button>
                        </li>
                    </ul>
                </div>
             <button id="sortDropdown" data-dropdown-toggle="filterMenu"
                        class="text-gray-700 dark:text-white bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-lg p-2 w-1/4 hover:bg-gray-50 dark:hover:bg-gray-700">
                    Filter by
                </button>
            <div id="filterMenu" class="hidden z-10 bg-white dark:bg-gray-700 rounded-lg shadow-lg">
                
                
                <input type="text" id="filterTeam" placeholder="Team name"
                       class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-1/3 ">
                <select id="filterType"
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-1/4">
                    <option value="superior">Odd > Value</option>
                    <option value="inferior">Odd < Value</option>
                </select>
                <input type="number" id="filterOdd" placeholder="Odd value"
                       class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-1/4 ">
                <button onclick="filterCards()"
                        class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg p-2 dark:bg-blue-600 dark:hover:bg-blue-700 w-1/4">
                    Filter
                </button>
                
            </div>
            </div>

            <div id="cardsContainer" class="flex flex-col gap-2 overflow-y-scroll h-[45lvh]">
                {% if games %}
                    {% for gameodd in games %}
                        <div class="game-card" data-value="{{ gameodd.detail.odd }}">
                            {% game_card %}{% endgame_card %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-gray-700 dark:text-gray-400">
                        No games found.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function sortCards(order) {
            const cardsContainer = document.getElementById('cardsContainer');
            const cards = Array.from(cardsContainer.getElementsByClassName('game-card'));

            cards.sort((a, b) => {
                const valueA = parseFloat(a.getAttribute('data-value'));
                const valueB = parseFloat(b.getAttribute('data-value'));

                if (order === 'asc') {
                    return valueA - valueB;
                } else {
                    return valueB - valueA;
                }
            });

            cards.forEach(card => cardsContainer.appendChild(card));
        }

function filterCards() {
    const filterTeam = document.getElementById('filterTeam').value.toLowerCase();
    const filterOdd = parseFloat(document.getElementById('filterOdd').value);
    const filterType = document.getElementById('filterType').value;
    const cards = document.getElementsByClassName('game-card');

    Array.from(cards).forEach(card => {
        const teamName = card.textContent.toLowerCase(); // Supõe-se que o nome da equipa esteja visível no texto da carta
        const oddValue = parseFloat(card.getAttribute('data-value'));

        // Condições de filtro
        const matchesTeam = !filterTeam || teamName.includes(filterTeam);
        const matchesOdd = isNaN(filterOdd) || 
            (filterType === 'superior' && oddValue > filterOdd) || 
            (filterType === 'inferior' && oddValue < filterOdd);

        // Mostrar ou ocultar carta
        if (matchesTeam && matchesOdd) {
            card.style.display = 'block';
        } else {
            card.style.display = 'none';
        }
    });
}



    </script>
{% endblock content %}
