{% extends "_base.html" %}

{% block content %}
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Maximize Your Profits with Arbitrage</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 text-balance lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
            Unlock risk-free betting opportunities by leveraging differences in odds across bookmakers.
            Stay ahead with real-time alerts, advanced tools, and market insights.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="{% url 'login' %}"
               class="inline-flex justify-center items-center py-3 pl-5 pr-4 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Get started
                <span class="material-symbols-rounded text-base ml-2">arrow_forward</span>
            </a>
            <a href="#"
               class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-70">
                Learn more
            </a>
        </div>
    </div>

    <div class="grid md:grid-cols-2 gap-8">
        {% landing_card %}
            {% slot shadow %} hover:shadow-green-400/80 hover:shadow-lg {% endslot %}
            {% slot title %} Real-Time Arbitrage Opportunities {% endslot %}
            {% slot badge_text %} Profit {% endslot %}
            {% slot badge_color_class %} bg-green-100 text-green-800 dark:bg-gray-700 dark:text-green-400 {% endslot %}
            {% slot badge_icon %} payments {% endslot %}
            {% slot content %}
                Instantly access the latest arbitrage bets from multiple bookmakers. Stay updated with real-time odds
                and seize risk-free profit chances before anyone else.
            {% endslot %}
        {% endlanding_card %}
        {% landing_card %}
            {% slot shadow %} hover:shadow-purple-400/80 hover:shadow-lg {% endslot %}
            {% slot title %} Advanced Tools & Insights {% endslot %}
            {% slot badge_text %} Monitoring {% endslot %}
            {% slot badge_color_class %} bg-purple-100 text-purple-800 dark:bg-gray-700 dark:text-purple-400 {% endslot %}
            {% slot badge_icon %} monitoring {% endslot %}
            {% slot content %}
                Optimize your betting strategy with powerful filters, profit calculators, and detailed analytics.
                Gain insights into the best markets and boost your earnings effortlessly.
            {% endslot %}
        {% endlanding_card %}
    </div>
{% endblock content %}
