{% extends "_base.html" %}

{% block content %}

    <div class="px-4 w-full lg:text-center lg:mb-8">
        <h1 class="mb-4 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Plans
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl text-balance sm:px-16 lg:px-48 dark:text-gray-400">
            Check your current limits, and manage your subscription.
        </p>
    </div>
    <div class="grid lg:grid-cols-3 gap-16 p-2">
        {% for tier in tiers %}
            {% tier_card %}{% endtier_card %}
        {% endfor %}
    </div>


{% endblock content %}
