{% extends "_base.html" %}

{% block content %}
    <div class="flex gap-8 xl:gap-16 flex-col lg:flex-row px-4 lg:px-0">
        <div class="flex-1 text-gray-900 dark:text-white flex flex-col gap-8">
            <div>
                <h1 class="mb-4 text-4xl font-extrabold leading-none md:text-5xl lg:text-6xl">
                    Wallet
                </h1>
                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                    Check your current balance, and manage your transactions.
                </p>
                <div class="flex items-baseline text-gray-900 dark:text-white ">
                    <span class="text-4xl font-extrabold tracking-tight">{{ remaining | add:"0" }}</span>
                    <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">
                        / {{ request.user.tier.max_wallet | add:"0" }}€
                    </span>
                </div>
                <p class="text-gray-500 dark:text-gray-400">remaining this month</p>
            </div>


            <div class="flex gap-5 flex-col md:flex-row">
                <div class="relative md:w-4/6 lg:w-3/5 border border-gray-200 dark:border-gray-700 bg-gray-100 rounded-xl shadow dark:bg-gray-800 p-4 md:p-6">
                    <div class="flex justify-between mb-3">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1">
                                Usage this month
                            </h5>
                        </div>
                    </div>

                    {% if request.user.tier.charts_included %}
                        <div class="pt-6" id="donut-chart"></div>
                    {% else %}
                        <div class="mx-auto pt-12 w-fit blur-lg opacity-50 scale-125">
                            {% include 'placeholders/bar-chart.html' %}
                        </div>
                        <div class="w-full h-full absolute top-0 left-0 flex flex-col gap-4 items-center justify-center">
                            <p class="text-gray-700 text-lg dark:text-white">
                                Your current plan doesn't include reports.
                            </p>
                            <a href="{% url 'tier' %}"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Upgrade
                            </a>
                        </div>
                    {% endif %}

                </div>
                <div class=" flex-1 flex flex-col gap-2 border border-gray-200 dark:border-gray-700 bg-gray-100 rounded-xl shadow dark:bg-gray-800 p-4 md:p-6">
                    <h1 class="text-gray-900 dark:text-white text-2xl font-bold mb-2">
                        History
                    </h1>
                <div class="overflow-y-scroll flex flex-col h-[400px]">
                    {% if games %}
                        {% for bet in games %}
                            {% history_game_card %}{% endhistory_game_card %}
                        {% endfor %}
                    {% else %}
                        <p class="text-gray-700 dark:text-gray-400">
                            No transactions yet.
                        </p>
                    {% endif %}

                </div>
                </div>
            </div>

        </div>

    </div>

    <script>
        let position = "bottom";

        const getChartOptions = () => {
            return {
                series: {{ chart.spent | safe }},
                colors: ["#1C64F2", "#16BDCA", "#FDBA8C", "#E74694"],
                chart: {
                    height: 320,
                    width: "100%",
                    type: "donut",
                },
                stroke: {
                    colors: ["transparent"],
                    lineCap: "",
                },
                plotOptions: {
                    pie: {
                        donut: {
                            labels: {
                                show: true,
                                name: {
                                    show: true,
                                    offsetY: 20,
                                },
                                total: {
                                    showAlways: true,
                                    show: true,
                                    label: "earned this month",
                                    formatter: () => {{chart.profit | floatformat:2 }} + '€',
                                },
                                value: {
                                    show: true,
                                    offsetY: -20,
                                    formatter: (value) => value + "€",
                                },
                            },
                            size: "80%",
                        },
                    },
                },
                grid: {
                    padding: {
                        top: -2,
                    },
                },
                labels: {{ chart.labels | safe }},
                dataLabels: {
                    enabled: false,
                },
                legend: {
                    position: position,
                },
                yaxis: {
                    labels: {
                        formatter: (value) => value + "€",
                    },
                },
                xaxis: {
                    labels: {
                        formatter: (value) => value + "€",
                    },
                    axisTicks: {
                        show: false,
                    },
                    axisBorder: {
                        show: false,
                    },
                },
            }
        }

        if (document.getElementById("donut-chart") && typeof ApexCharts !== 'undefined') {
            const updatePosition = () => {
                const largeScreenQuery = window.matchMedia("(min-width: 768px)");

                if (largeScreenQuery.matches) {
                    position = "right";
                } else {
                    position = "bottom";
                }

                const chart = new ApexCharts(document.getElementById("donut-chart"), getChartOptions());
                chart.render();
            }

            updatePosition();
            window.addEventListener("resize", updatePosition);
        }
    </script>
{% endblock content %}
