{% extends "_base.html" %}

{% block content %}
    <div class="flex gap-8 xl:gap-16 flex-col-reverse lg:flex-row px-4 lg:px-0">
        <div class="flex-1 text-gray-900 dark:text-white flex flex-col gap-8">
            <div>
                <h1 class="mb-4 text-4xl font-extrabold leading-none md:text-5xl lg:text-6xl">
                    Wallet
                </h1>
                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                    Check your current balance, and manage your transactions.
                </p>
            </div>
            <div>
                <div class="flex items-baseline text-gray-900 dark:text-white">
                    <span class="text-4xl font-extrabold tracking-tight">{{ remaining | add:"0" }}</span>
                    <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">
                        / {{ request.user.tier.max_wallet | add:"0" }}€
                    </span>
                </div>
                <p class="text-gray-500 dark:text-gray-400">remaining this month</p>
            </div>
        </div>
        <div class="flex-1 flex flex-col gap-2">
            <h1 class="text-gray-900 dark:text-white text-2xl font-bold mb-2">
                History
            </h1>
            {% if games %}
                {% for bet in games %}
                    {% history_game_card %}{% endhistory_game_card %}
                {% endfor %}
            {% else %}
                <p class="text-gray-700 dark:text-gray-400">
                    No transactions yet.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
